@import "../../scss/variables/index";

@media only screen and (max-width: $desktop) {
  .pd-about {
    padding: 40px 32px 80px;
    &-title {
      margin-bottom: 32px;
    }
    &-content {
      width: 1024px;
      &-wrapper {
        margin-top: 48px;
      }
    }
  }
}

@media only screen and (max-width: $tablet) {
  .banner {
    font-size: 32px;
    text-align: center;
    padding: 0px 16px;
  }
}

@media only screen and (max-width: $phone) {
  .pd-about {
    padding: 40px 24px 80px;
  }
}
