@import "../../scss/variables/index";

@media only screen and (max-width: $desktop) {
  .pd-contact {
    &-product {
      &-inquiry {
        padding: 60px 24px 80px;
      }
    }
  }
}

@media only screen and (max-width: $tablet) {
  .banner {
    font-size: 32px;
    text-align: center;
    padding: 0px 16px;
  }
}
