@import "../../scss/variables/index";

@media only screen and (max-width: $desktop) {
  .pd-home {
    &-container {
      margin-top: 100px;
      margin-bottom: 60px;
      padding: 0px 32px;
    }
    &-main {
      &-title {
        font-size: 36px;
        margin-top: 48px;
      }
    }
    &-project {
      padding: 60px 32px;
      &-title {
        font-size: 36px;
      }
    }
    &-products {
      padding: 60px 32px;
      &-title {
        font-size: 36px;
        text-align: center;
      }
    }
    &-content {
      margin-top: 80px;
      margin-bottom: 60px;
      padding: 0px 32px;
      &-title {
        font-size: 32px;
        margin-top: 48px;
      }
    }
    &-product {
      &-inquiry {
        padding: 60px 32px;
        &-title {
          margin-bottom: 32px;
        }
        &-map {
          align-items: center;
          margin-top: 32px;
          & > img {
            width: 100%;
            height: auto;
            object-fit: contain;
          }
          &-description {
            word-wrap: break-word;
          }
        }
      }
    }
  }
}
