@import "../../scss/variables/index";

@media only screen and (max-width: $desktop) {
  .pd-home {
    &-products {
      padding: 60px 32px;
      &-title {
        font-size: 36px;
        text-align: center;
      }
    }
    &-content {
      margin-top: 80px;
      margin-bottom: 60px;
      padding: 0px 32px;
      &-title {
        font-size: 32px;
        margin-top: 48px;
      }
      & .ant-col > button {
        margin-bottom: 64px;
      }
    }
    &-product {
      &-inquiry {
        padding: 60px 32px;
        &-title {
          margin-bottom: 32px;
        }
      }
    }
  }
}

@media only screen and (max-width: $phone) {
  .pd-home {
    &-products {
      padding: 60px 24px;
    }
    &-content {
      padding: 0px 24px;
    }
    &-product {
      &-inquiry {
        padding: 60px 24px;
      }
    }
  }
}
