@import "../../../scss/variables/index";

@media only screen and (max-width: $tablet) {
  .pd-footer {
    &__left {
      display: block;
      margin-bottom: 42px;
      text-align: justify;
    }

    & .list {
      li {
        &:not(:last-of-type) {
          margin-bottom: $spacing-md;
        }
      }
    }

    & .media {
      color: $pd-color-dark-gray;
      font-size: 9px;
      margin-bottom: $spacing-md;
      text-align: center;
    }

    .privacy-terms-condition {
      text-align: left;
      display: block;
      margin-top: $spacing-md;

      &.terms-condition {
        margin-left: 0px;
      }
    }
  }
}
