@import "../../../scss/variables/index";

.pd-footer {
  background: $pd-color-white;
  color: $pd-color-white;
  padding: $spacing-lg;

  &-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: center;
  }

  &-address {
    color: #1c1b24;
    font-weight: 400;
    font-size: 18px;
    opacity: 0.5;
    text-align: center;
    margin-bottom: 16px;
  }
  &-logo {
    border: 2px solid #bbbbbb;
    width: fit-content;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    &-wrapper {
      display: flex;
      justify-content: space-between;
      width: 200px;
      align-items: center;
    }
  }
  &-copyright {
    font-weight: 400;
    font-size: 14px;
    color: #1c1b24;
    text-transform: uppercase;
    text-align: center;
  }
}
