@import "../../scss/variables/index";

@media only screen and (max-width: $desktop) {
  .pd-products {
    background-color: #f9f9f9;
    padding: 60px 32px 80px;
  }
}

@media only screen and (max-width: $tablet) {
  .pd-products {
    padding: 60px 24px 80px;
    display: block;
    &-container {
      width: unset;
    }
  }
  .banner {
    font-size: 32px;
    text-align: center;
    padding: 0px 16px;
  }
}
