@import "./scss/variables/index";

* {
  font-family: "Ropa Sans", sans-serif;
}

b,
strong {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

:root::-webkit-scrollbar {
  display: none;
}

.nav-link {
  font-weight: 500;
  color: $pd-color-white;
  text-decoration: inherit;
}

body {
  margin: 0;
  border: 0;
  min-height: 100vh;
}

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

// pagination number
.ant-pagination {
  .ant-pagination-item {
    border: 1px solid #cdd5df;
    border-radius: 4px;
    & a {
      color: #abafb0;
    }
    &-active {
      background-color: #0a2862;
      &:hover {
        border: none;
      }
      & a {
        color: #ffffff;
        &:hover {
          color: #ffffff;
        }
      }
    }
  }
  .ant-pagination {
    &-next {
      .ant-pagination-item {
        &-link {
          border: 1px solid #cdd5df;
          border-radius: 4px;
        }
      }
    }
    &-prev {
      .ant-pagination-item {
        &-link {
          border: 1px solid #cdd5df;
          border-radius: 4px;
        }
      }
    }
  }
}
