@import "./scss/variables/index";
* {
  font-family: "Poppins", sans-serif !important;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

:root::-webkit-scrollbar {
  display: none;
}

a {
  font-weight: 500;
  color: $pd-color-white;
  text-decoration: inherit;
}

body {
  margin: 0;
  border: 0;
  min-height: 100vh;
}

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}
